.where-do-you-live__content {
  padding-top: 60px;

  .country-select{
    label {
      padding: 0
    }

    .country-select__error {
      color: red;
      padding: 4px 0;
    }

    .signin-btn {
      margin: 10px 0;
    }
  }
}