
.hidden {
  display: none;
}

.where-do-you-live__content {
  padding-bottom: 20px;

  h2 {
    margin-top: 20px;
  }

  .country-select{
    label {
      padding: 0;
      padding-bottom: 10px;
    }

    .country-select__error {
      color: red;
    }

    button {
      margin: 0;
      margin-top: 30px;
    }
  }
}