{% extends "layouts/revenue.html" %}

{% block title %}File an income tax return{% endblock %}

{% block content %}
        <div class="hub-destination-pages">
            <div class="content row">
                <div class="large-7 columns">

                    <h1>
                        File an Income Tax return
                    </h1>
                    
                    <h3>Can you file a tax return online?</h3>
                    <p>Yes, if your are registered for the Revenue Online Service (ROS) you can file an Income Tax return online. Use the&nbsp;<a title="Pay and file system - how does it work?" target="_blanks" class="sys_0 sys_t109" href="/en/self-assessment-and-self-employment/guide-to-self-assessment/pay-and-file-system-how-does-it-work.aspx">Pay and File system</a>&nbsp;to manage tasks associated with the payment of tax and the filing of tax returns.</p>
                    <h3><b>Who is the service for?</b></h3>
                    <p>You can use this service if you want to:</p>
                    <ul>
                        <li>make a tax return for the previous tax year, including a self-assessment of the tax due for that year</li>
                        <li>pay the balance of any tax due for the previous year</li>
                        <li>pay preliminary tax for the current tax year.</li>
                    </ul>
                    <h3><b>What you need to use the service</b></h3>
                    <p>You will need the following personal information (where applicable) to use the service:</p>
                    <ul>
                        <li>Personal Public Service Number (PPSN) and date of birth</li>
                        <li>the PPSN and date of birth of your spouse or civil partner</li>
                        <li>income details</li>
                        <li>rental income</li>
                        <li>foreign income</li>
                        <li>income from fees, covenants, distributions</li>
                        <li>exempt income</li>
                        <li>annual payments, charges and interest paid</li>
                        <li>tax credits, allowances, reliefs and health expenses</li>
                        <li>high level income</li>
                        <li>capital gains</li>
                        <li>property based incentives</li>
                        <li>self-assessment details.</li>
                    </ul>

                    <h3>How to access the service</h3>

                    <p>In order to use this service you need to have a myAccount.</p>

                    <b> Use myAccount</b>
<p>
	
</p>myAccount is a single access point for secure online services for individuals. myAccount enables you to access PAYE services (including Jobs and Pensions), Local Property Tax, Home Renovation Incentive and many more services using a single login and password. You can also update your personal details, review your tax affairs, make payments and apply for certain tax reliefs and incentives.
                    <ul>
                        <li>click on the&nbsp;'My Services' section from the ROS main menu</li>
                        <li>in the &lsquo;File a return&rsquo; section, select the return type of &lsquo;Income Tax&rsquo; and &lsquo;Form 11&rsquo;.&nbsp;</li>
                    </ul>

                    <button class="button" onclick="window.open('/404.html', '_blank')" type="button">Sign in to myAccount</button>

                    </div>
                        <div class="bottom-links row">
                        <p>
                            <em>Published: 07 June 2017</em>

                            <a class="print" href="javascript:window.print()">Print this page</a>
                        </p>
                    </div>

                    </div>
                <div class="large-4 columns">
                    <div class="collapsible-list-links">
                        <ul id="T999_ulplace" class="collapsible-list-links">
                            <li class="technical-legal no-print">
                                <a href="#">Further guidance</a>

                                <div class="full-content">
                                    <ul class="documents-list related-links">
                                        <li>

                                            <a class="pdf" href="/en/self-assessment-and-self-employment/documents/guide-pay-file.pdf" title="Guide to completing 2016 Pay and File tax returns" target="_blank">Guide to completing 2016 Pay and File tax returns</a>The main purpose of this guide is to assist individuals who are taxed under the selfassessment system to complete their 2016 tax return – the Form 11.
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
