{% extends "layouts/revenue.html" %}

{% block title %}View your End of year statement (P21){% endblock %}

{% block content %}
<div class="hub-destination-pages">
	<div class="content row">
<div class="large-7 columns">


<h1>
   Register for myAccount
</h1>


<h3>What is myAccount?</h3>
<p>myAccount is a single access point for secure online services for individuals.&nbsp;myAccount enables you to access PAYE services (including Jobs and Pensions), Local Property Tax (LPT), Home Renovation Incentive (HRI) and many more using your single login and password.</p>
<p>It is a quick, convenient and easy way to perform a number of tasks. These include updating your personal details, reviewing your tax affairs, making payments and applying for certain tax reliefs and incentives.</p>
<p>You can register for myAccount or you can access it using your MyGovID verified account. &nbsp;</p>
<h3>What can you do in myAccount?</h3>
<p>In myAccount, you can:</p>
<ul>
<li>manage your tax record</li>
<li>claim tax credits, including relief for health expenses</li>
<li>declare additional income</li>
<li>submit a return of income</li>
<li>view or request an end of year statement (P21)</li>
<li>register a new job or pension</li>
<li>claim tax relief on home renovations</li>
<li>pay Local Property Tax (LPT)</li>
<li>view your PAYE correspondence in My Documents</li>
</ul>
<p>and much more.</p>
<h3>Who can register&nbsp;for myAccount?</h3>
<ul>
<li>PAYE taxpayers</li>
<li>LPT taxpayers</li>
<li>business&nbsp;customers, including those who have an active digital certificate for ROS</li>
<li>new taxpayers.</li>
</ul>
<h3>What you need to register for myAccount</h3>
<p>You will need the following personal information to register for myAccount:</p>
<ul>
<li><a title="Personal Public Service Number" target="_blank" class="sys_0 sys_t106" href="/en/jobs-and-pensions/personal-public-service-number/index.aspx">Personal Public Service Number (PPSN)</a></li>
<li>date of birth</li>
<li>phone number (mobile or landline)</li>
<li>email address</li>
<li>home address.</li>
</ul>
<p>You can obtain instant access to myAccount if you can verify your identity with two of the following:</p>
<ul>
<li>Irish driving&nbsp;licence number</li>
<li>information from&nbsp;your Form P60</li>
<li>information about your Income Tax</li>
<li>notice of assessment or acknowledgement of self-assessment from Revenue.</li>
</ul>
<p>If you cannot provide this information, please select the by post option and Revenue will issue your password by post.&nbsp;</p>
<h3>How to register for myAccount:</h3>
<p>If you do&nbsp;not have a <a class="external-links" target="_blank" href="https://www.mygovid.ie/">MyGovID</a>&nbsp;verified account:</p>
<ul>
<li>go to myAccount Registration</li>
<li>click 'Start Registration'.</li>
</ul>


        <button class="button" onclick="window.open('/ros.ie/myaccount-register', '_blank')" type="button">Register for myAccount</button>

<p>If you have a MyGovID verified account you do not have to register for myAccount:</p>
<ul>
<li>go to the myAccount sign in or registration page</li>
<li>click ‘Continue with MyGovID’.</li>
</ul>





    <div class="bottom-links row">
        <p>
                <em>Published: 11 September 2017</em>

                            <a class="print" href="javascript:window.print()">Print this page</a>
        </p>
    </div>


</div>
</div>
</div>
{% endblock %}