{% extends "layouts/revenue.html" %}

{% block title %}File an income tax return{% endblock %}

{% block content %}
<div class="hub-destination-pages">
<div class="content row">
<div class="large-7 columns">




<h1>
   View your End of year statement (P21)
</h1>


<h3><b>How to view your End of year statement</b></h3>
<p>My Documents is a facility in myAccount to store certain documents and is accessible on the ribbon running across the top of the myAccount home page. If you are a Pay As You Earn (PAYE) customer you will be able to view, download or print End of year statements (P21)&nbsp;from My Documents.</p>
<p>If you have any unread documentation, an orange circle will display on the My Documents folder icon.</p>
<p>Any End of year statements (P21) on your record going back more than the last 4 years will be stored in the Archive folder.</p>
<h3><b>How to access the service</b></h3>
<p>You must be registered for myAccount to access My Documents:</p>
<ul>
<li>click on &lsquo;My Documents&rsquo; on the myAccount home page</li>
<li>select the specific year folder from the &lsquo;Summary&rsquo; screen</li>
<li>view, download or print from My Documents.</li>
</ul>


        <button class="button" onclick="window.open('https://www.ros.ie/myaccount-web/sign_in.html?execution=e2s1', '_blank')" type="button">Sign in to myAccount</button>






    <div class="bottom-links row">
        <p>
                <em>Published: 20 June 2017</em>

                            <a class="print" href="javascript:window.print()">Print this page</a>
        </p>
    </div>


<!-- Normally, when configuring a Qualtrics intercept, the Qualtrics dashboard provides you with
     a chunk of HTML that you include on your webpage. This consists of a script tag followed by
     a div. The div acts as a container for where the intercept's 'creative' appears in the DOM
     and the script is all the Qualtrics magic that ensures the interceptor does what its
     supposed to, as per the configuration of the interceptor on the Qualtrics dashboard.
     We've separated the contents of the script tag (an immediately-invoked function
     expression) into a separate .js file, e.g.
     SiteElements/js/QualtricsInterceptors/FeedbackSinglePage.js
       
       
     
     The div tag below and its JavaScript (in the .js file referred to above) are correlated
     using a unique identifier (i.e. the value of the id attribute of the div tag below).
       -->
<div id='SI_3q7XY6pm4eVorBz'><!--DO NOT REMOVE-CONTENTS PLACED HERE--></div>

</div>
<div class="large-4 columns">
<div class="collapsible-list-links">
<ul id="T999_ulplace" class="collapsible-list-links">
                        <li class="related-topics no-print">
                <a href="#">Related topics</a>
                <div class="full-content">
                    <ul class="collapsible-list-links related-links">
                                <li>
                                    <a href="/en/online-services/services/register-for-an-online-service/register-for-myaccount.aspx" title="Register for myAccount">Register for myAccount</a>
                                </li>
                                <li>
                                    <a href="/en/online-services/services/common/request-or-view-your-end-of-year-statement-p21.aspx" title="Request your end of year statement (P21)">Request your end of year statement (P21)</a>
                                </li>
                    </ul>
                </div>
            </li>

            


                
</ul>
</div>
</div>
</div>
</div>
{% endblock %}
