<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      Living in Ireland - GOV.UK
  </title>

    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" crossorigin="anonymous" integrity="sha256-J3X5nq7GT/gSG/v7PrZ7DCtLfD/HjSXaMOEtsqCdMNY=">
<!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" /><![endif]-->
    <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">

    <!--[if IE 8]><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" /><![endif]-->
    <!--[if gte IE 9]><!--><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" crossorigin="anonymous" integrity="sha256-X/jFORNDSv0AcqSA18/KZ8rOTI0D9u+Wt4pEVXKM50U=">
<!--<![endif]-->
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-d31395a9030b68584b0a191af4b68cb7bef1bb6024898c719fb61241f9e18d0e.js" crossorigin="anonymous" integrity="sha256-0xOVqQMLaFhLChka9LaMt77xu2AkiYxxn7YSQfnhjQ4="></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-6432a80f7829cad510b2ebaae98fcc9ebe2e99561fff5a97ecc9c7d0cff21537.css" crossorigin="anonymous" integrity="sha256-ZDKoD3gpytUQsuuq6Y/Mnr4umVYf/1qX7MnH0M/yFTc=">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-dc8819787f616e63b05de96300a178b00a9aae74630ac4188329db03bf3d6b1e.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-67473e60ee01211611f919664a9eff21f3a2307db0df87c0b285887010237109.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-8cd16a38daba39516bfe4c4100c3143667ec6bbdee6c4404d320e596e6fee58e.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-774f7d274d27182a629690248f3d33de4aab74e12244f02483d1343c5f7f7265.css" crossorigin="anonymous" integrity="sha256-d099J00nGCpilpAkjz0z3kqrdOEiRPAkg9E0PF9/cmU=">


  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-85c0a705373a4a6395bb5e9e03050db324a9a25e8f0953fa75cb3c09a453ab4e.css" crossorigin="anonymous" integrity="sha256-hcCnBTc6SmOVu16eAwUNsySpol6PCVP6dcs8CaRTq04=">
<!--<![endif]--><link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/government-frontend/print-9e52619a28f6d0ef9fb0a8b9d8fe0c4f2ff35d8dbb2d28db2d600b8bffcc4e9a.css" crossorigin="anonymous" integrity="sha256-nlJhmij20O+fsKi52P4MTy/zXY27LSjbLWALi//MTpo=">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="4RkPerOGW+xO3aP6zrbGiBUA9WMXRPa3Opo8h3CTS1OYlc2z0BbHiGjwNqj4HnRkUrw+XNJRfsYNSTLc+0/Yfw==">
<meta name="govuk:format" content="detailed_guide">
<meta name="govuk:schema-name" content="detailed_guide">
<meta name="govuk:analytics:organisations" content="&lt;D13&gt;">
<meta name="govuk:political-status" content="non-political">
<meta name="govuk:publishing-government" content="2010-to-2015-conservative-and-liberal-democrat-coalition-government">
<meta name="govuk:user-journey-stage" content="thing">
<meta name="govuk:navigation-document-type" content="guidance">
<meta name="govuk:themes" content="world/all">
<meta name="govuk:taxon-id" content="751e7563-dca5-4e22-b622-6616846d39f3">
<meta name="govuk:taxon-ids" content="751e7563-dca5-4e22-b622-6616846d39f3">
<meta name="govuk:taxon-slug" content="living-in-ireland">
<meta name="govuk:taxon-slugs" content="living-in-ireland">
<meta name="govuk:content-has-history" content="true">
<meta name="description" content="Information for British nationals living in Ireland and information on driving regulations in Ireland">
<meta name="govuk:content-id" content="5e2ddbb5-7631-11e4-a3cb-005056011aef">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie6-e8c662943d883e900a6b0589c4e7f908ecc099a7faf9e85d9a4d77c16b1cca28.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie7-e8c662943d883e900a6b0589c4e7f908ecc099a7faf9e85d9a4d77c16b1cca28.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie8-445ba4d9c17f70fa731f93738370ba95db064bde30a6f7b194a8cdfe5daccf7d.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="government-frontend">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

    

    <div id="skiplink-container">
      <div>
        <a href="living-in-ireland#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="/404">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="/404" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="/404" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="https://www.gov.uk/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>
        
      </div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div id="wrapper" class="direction-ltr">
    
          
<div class="govuk-breadcrumbs collapse-on-mobile" data-module="track-click">
  <ol>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/" data-track-options='{"dimension28":"5","dimension29":"Home"}' class="" aria-current="false" href="https://www.gov.uk/">Home</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/world/all" data-track-options='{"dimension28":"5","dimension29":"World"}' class="" aria-current="false" href="https://www.gov.uk/world/all">World</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/world/ireland" data-track-options='{"dimension28":"5","dimension29":"Ireland and the UK"}' class="" aria-current="false" href="https://www.gov.uk/world/ireland">Ireland and the UK</a>
    </li>

    <li class="parent-breadcrumb">
        <a data-track-category="breadcrumbClicked" data-track-action="4" data-track-label="/world/living-in-ireland" data-track-options='{"dimension28":"5","dimension29":"Living in Ireland"}' class="" aria-current="false" href="https://www.gov.uk/world/living-in-ireland">Living in Ireland</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="5" data-track-label="#content" data-track-options='{"dimension28":"5","dimension29":"Living in Ireland"}' class="breadcrumb-for-current-page" aria-current="page" href="living-in-ireland#content">Living in Ireland</a>
    </li>
  </ol>
</div>


    <main role="main" id="content" class="detailed-guide" lang="en">
      

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="pub-c-title
  
  pub-c-title--bottom-margin">
    <p class="pub-c-title__context">
      Guidance
    </p>
  <h1 class="pub-c-title__text pub-c-title__text--long">
    Living in Ireland
  </h1>
</div>





    
    <div class="govuk-metadata direction-ltr" data-module="toggle">
  <dl data-module="track-click">
      <dt>From:</dt>
      <dd>
          <a href="/404">Foreign &amp; Commonwealth Office</a>

      </dd>
      <dt>Part of:</dt>
      <dd>
          <a href="/404">Living in country guides</a> and <a href="/404">Europe</a>

      </dd>
      <dt>Published:</dt>
      <dd>14 May 2013</dd>
  </dl>
</div>


    
      <p class="pub-c-lead-paragraph">
    Information for British nationals living in Ireland and information on driving regulations in Ireland
  </p>


    <div class="sidebar-with-body" id="contents">
          <nav role="navigation" class="app-c-contents-list">
    <h2>
      Contents
    </h2>
    <ol class="app-c-contents-list__list">
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="living-in-ireland#entry-and-residence-procedures">
            Entry and residence procedures
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="living-in-ireland#social-and-cultural-life">
            Social and cultural life
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="living-in-ireland#driving-in-ireland">
            Driving in Ireland
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="living-in-ireland#personal-taxation">
            Personal taxation
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="living-in-ireland#accommodation">
            Accommodation
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="living-in-ireland#state-pensions">
            State Pensions
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="living-in-ireland#health-insurance-and-social-security">
            Health Insurance and Social Security
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="living-in-ireland#life-certificates">
            Life certificates
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="living-in-ireland#disclaimer">
            Disclaimer
</a>        </li>
    </ol>
  </nav>

      
<div class="govuk-govspeak direction-ltr">
  <div class="govspeak">
<h2 id="entry-and-residence-procedures">Entry and residence procedures</h2>

<p>A common travel area is in existence between Ireland and the United Kingdom (including the Channel Islands and the Isle of Man).  There is no formal agreement between Ireland and the UK regarding the common travel area and it is not provided for in legislation.</p>

<p>The common travel area means that there are no passport controls in operation for Irish and British Citizens travelling between the two countries.  Since 1997, some controls are in effect on arrivals in Ireland from the UK but this does not mean that you are required to carry your British passport with you when you travel between the countries.</p>

<p>When you arrive in Ireland, you may be asked for valid official photo-identification which shows your nationality. As you are being asked to prove that you are a British Citizen it is advisable to travel with your passport.</p>

<p>The majority of airlines travelling between the two countries require a passport as proof of identification.  We advise that you contact the airline you intend to travel with, for advice on their requirements.</p>

<h2 id="social-and-cultural-life">Social and cultural life</h2>

<p>Ireland is a dynamic, lively, modern country, with a young population.  The population of Ireland is approximately 4.5 million. Saint Patrick’s Day (March 17th) is Ireland’s official national day.  It is a national holiday and festival parades are held in towns and cities all around the country.</p>

<p>Ireland has two national languages – Gaelic and English.</p>

<p>Gaelic football and hurling are very popular, traditional sports exclusive to Ireland.   Ireland is a euro zone member state.  The unit of currency is the Euro (€).</p>

<p>Information on visiting Ireland can be found at <a rel="external" href="/404">Discover Ireland</a>.</p>

<p>Information on moving to and living in Ireland can be found at <a rel="external" href="/404">Citizens Information</a>.</p>

<h2 id="driving-in-ireland">Driving in Ireland</h2>

<p>If you have a British driving licence you can drive in Ireland as long as your existing licence is valid.   If you wish to exchange your driving licence for an Irish driving licence, you must do so within 10 years of your driving licence expiring.</p>

<p>You are required to produce your own licence for inspection when hiring a vehicle in Ireland.   All countries in the EU and European Economic Area (EEA) benefit from a “mutual recognition” agreement in respect of driving licences.</p>

<h3 id="speed-limits">Speed Limits</h3>
<p>In January 2005, all driving speed limit signs in Ireland changed from miles per hour to kilometres per hour.  The maximum permissible driving speed on Irish Motorways is 120 km/ph.</p>

<h3 id="seatbelts">Seatbelts</h3>
<p>The wearing of seatbelts in front and rear seats of a vehicle is compulsory in Ireland. There’s also an additional onus on drivers to ensure persons under 17 travelling with them are suitably restrained.</p>

<h3 id="mobile-phones">Mobile Phones</h3>
<p>Irish Road Traffic laws deem it illegal to use a hand held mobile phone while driving in Ireland.  Our advice to all motorists is to turn it off or put it on silent until you can pull the car in somewhere safe or until you reach your destination.</p>

<h3 id="penalty-points">Penalty Points</h3>
<p>When driving in Ireland you’ll be subjected to Ireland’s driving penalty points system, a system designed to save lives and prevent injuries resulting from road crashes and collisions. When driving in Ireland on a foreign driving licence, your details will be held on a separate database for the purpose of recording driving penalty points.  If you later obtain an Irish driving licence, any previously acquired penalty points will be activated on that licence.</p>

<h3 id="importing-a-car-into-ireland">Importing a car into Ireland</h3>
<p>All cars/vehicles brought or imported into Ireland (apart from temporary visits of less than 12 months) are subject to Vehicle Registration Tax and must be registered with the Revenue Commissioners.  The tax rates vary depending on engine size – but are around 25% of the expected selling price.</p>

<p>People who move to Ireland and have owned their vehicles abroad for more than 6 months and who are moving permanently to Ireland are exempt from Vehicle Registration Tax.</p>

<p>Information on driving in Ireland, driving licences and importing a vehicle can be found at <a rel="external" href="/404">The Road Safety Authority</a>.</p>

<h2 id="personal-taxation">Personal taxation</h2>

<p>The Office of the Revenue Commissioners is the primary state body responsible for the assessment and collection of taxes and duties in the Republic of Ireland.  Information on taxation in Ireland can be found at <a rel="external" href="#">Revenue.ie</a>.</p>

<p>You can <a href="/revenue.ie/online-services/view_statement">view your end of year statement</a> online.</p>

<p>For advice on taxation contact your local HM Customs &amp; Revenue office before leaving the UK.  Information on tax issues in Ireland can also be found at <a rel="external" href="/404">Citizens Information</a>.  When you arrive in Ireland, contact your nearest tax office for information on the Irish tax system.</p>

<h2 id="accommodation">Accommodation</h2>

<p>Most local and national newspapers advertise accommodation.  A list of properties and estate agents can be found on:</p>

<ul>
  <li>
    <p><a rel="external" href="/404">Irish Property Owners’ Association website</a></p>
  </li>
  <li>
    <p><a rel="external" href="/404">the Golden Pages website</a></p>
  </li>
</ul>

<p>Click here for a list of <a rel="external" href="/404">Auctioneers and Valuers</a>.</p>

<h2 id="state-pensions">State Pensions</h2>

<p>For specific information relating to your personal circumstances, please contact the following organisation.</p>

<p>The International Pension Centre (IPC) at the UK Pension Service. The IPC deals with questions on UK benefits payable to customers living overseas. For information on how living and working in Ireland may affect your UK state retirement pension, please visit the ‘Living overseas’ section of the <a href="/404">UK Pension Service</a> website, or <a href="/404">email them</a></p>

<p>If you have specific questions, you can contact the IPC direct, using the IPC’s <a rel="external" href="/404">contact us from overseas form</a></p>

<p>The Department of Social Protection in Ireland can provide <a rel="external" href="/404">information and advice on pensions in Ireland</a>.</p>

<p>If you are in receipt of a UK old age state pension, request an S1 form (previously E121) from the Overseas Healthcare Team on +44 191 218 1999. If you are in receipt of an exportable DWP benefit you can request an S1 form the office which pays your exportable benefit.</p>

<p>It is your responsibility to keep the Overseas Healthcare Team or office which pays your exportable DWP benefit up to date with any changes in circumstances which may affect your entitlement to an S1 (E121). When received, register the S1 form with your local social security office before you register with your local GP surgery and obtain a medical card.</p>

<h2 id="health-insurance-and-social-security">Health Insurance and Social Security</h2>

<p>The European Health Insurance Card (EHIC) allows a British National to access necessary treatment while you are on a temporary stay in Ireland, if you become ill or have an accident.  This card should be obtained in advance of your travel.</p>

<p>If resident in Ireland:  For more advice, contact your <a rel="external" href="/404">local Health Centre</a>.</p>

<p>Entitlement to health services in Ireland is primarily based on residency and means.  If you are coming to live in Ireland, you must satisfy the Health Service Executive (HSE) that you are “ordinarily resident”.   Any person, regardless of nationality, who is accepted by the Health Service Executive (HSE) as being ordinarily resident in Ireland is entitled to either full eligibility (category 1; medical card holders) or limited eligibility (Category 2) for health services.  For information and advice on <a rel="external" href="/404">eligibility for health care in Ireland</a> or <a rel="external" href="/404">Welfare.ie</a>.</p>

<p>In addition to the public health system, people can avail of a range of private health care services.  You must pay the full costs of treatment if you opt for private health care.  There are a number of private health insurance companies in Ireland. The <a rel="external" href="/404">Health Insurance Authority</a> is a statutory regulator of the private Health Insurance market in Ireland.  The authority also provides information to consumers regarding their rights and health insurance plans and benefits.</p>

<p>Click here for a list of <a rel="external" href="/404">hospitals and doctors in Ireland</a>.</p>

<h2 id="life-certificates">Life certificates</h2>

<p>If you have received a life certificate from the UK Pension Service it is important that you reply as quickly as possible otherwise your benefit may be stopped.</p>

<p>Call the IPC on 0044 191 218 7777 for any queries you might have.</p>

<p>There are 4 options available for signing the certificate:</p>

<p>•	a solicitor or notary can witness the declaration, but they may charge you for this service</p>

<p>•	a member of the local police force can witness the declaration.</p>

<p>•	if you are housebound and unable to get to any of the places mentioned above, then your doctor can witness the form. If this is the case, he/she must also include a note explaining exactly why you are not able to complete the form using the other methods</p>

<p>•	you can arrange an appointment at the British Embassy on +353 1 205 3700 who can also provide this service free of charge</p>

<h2 id="disclaimer">Disclaimer</h2>

<p>Please note that this information is provided as a guide only. Definitive information should be obtained from the Irish authorities.</p>
</div>
</div>

    </div>
    <div class="govuk-document-footer direction-ltr" data-module="track-click">
  <h2 class="visuallyhidden">
    Document information
  </h2>
  <div class="history-information" id="history">
      <p>
        Published:
        <span class="published definition">14 May 2013</span>
      </p>
  </div>
  <div class="related-information">
      <p>From: <span class="from">
          <span class="definition">
            <a href="/404">Foreign &amp; Commonwealth Office</a>
          </span>
      </span></p>
      <p>
        Part of:
        <span class="part-of">
        <span class="definition">
          <a href="/404">Living in country guides</a>
        </span>
        <span class="definition">
          <a href="/404">Europe</a>
        </span>
      </span></p>
  </div>
</div>


  </div>

  <div class="column-third add-title-margin">
    
  <aside class="govuk-taxonomy-sidebar" data-module="track-click" role="complementary">
      <div class="sidebar-taxon" data-track-count="sidebarTaxonSection">
        <h2>
          <a class="taxon-link" data-track-category="relatedLinkClicked" data-track-action="1" data-track-label="/world/living-in-ireland" data-track-options='{"dimension28":"1","dimension29":"Living in Ireland"}' href="https://www.gov.uk/world/living-in-ireland">Living in Ireland</a>
        </h2>

        <p class="taxon-description">
          Includes how to access healthcare, get a document legalised, lists of lawyers and how to vote abroad.
        </p>

          <nav role="navigation">
            <ul class="related-content">
                <li>
                  <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/european-health-insurance-card" data-track-options='{"dimension28":"2","dimension29":"Apply for a European Health Insurance Card"}' class="related-link" href="https://www.gov.uk/european-health-insurance-card">Apply for a European Health Insurance Card</a>
                </li>
                <li>
                  <a data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="/foreign-travel-advice/ireland" data-track-options='{"dimension28":"2","dimension29":"Ireland travel advice"}' class="related-link" href="https://www.gov.uk/foreign-travel-advice/ireland">Ireland travel advice</a>
                </li>
            </ul>
          </nav>
      </div>
  </aside>


  </div>
</div>

    </main>
  <div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="https://www.gov.uk/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <input id="url" name="url" type="hidden" value="https://www.gov.uk/guidance/living-in-ireland">
        
          <input id="source" name="source" type="hidden" value="">
        
        
          <input id="page_owner" name="page_owner" type="hidden" value="">
        

        <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text">

        <label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="/404">Benefits</a></li>
          <li><a href="/404">Births, deaths, marriages and care</a></li>
          <li><a href="/404">Business and self-employed</a></li>
          <li><a href="/404">Childcare and parenting</a></li>
          <li><a href="/404">Citizenship and living in the UK</a></li>
          <li><a href="/404">Crime, justice and the law</a></li>
          <li><a href="/404">Disabled people</a></li>
          <li><a href="/404">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="/404">Education and learning</a></li>
          <li><a href="/404">Employing people</a></li>
          <li><a href="/404">Environment and countryside</a></li>
          <li><a href="/404">Housing and local services</a></li>
          <li><a href="/404">Money and tax</a></li>
          <li><a href="/404">Passports, travel and living abroad</a></li>
          <li><a href="/404">Visas and immigration</a></li>
          <li><a href="/404">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="/404">How government works</a></li>
          <li><a href="/404">Departments</a></li>
          <li><a href="/404">Worldwide</a></li>
          <li><a href="/404">Policies</a></li>
          <li><a href="/404">Publications</a></li>
          <li><a href="/404">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/404">Help</a></li>
  <li><a href="/404">Cookies</a></li>
  <li><a href="/404">Contact</a></li>
  <li><a href="/404">Terms and conditions</a></li>
  <li><a href="/404" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="/404">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="/404" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="/404" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="/404">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-d4ba5ab8f60c9df5c733e7d3c7c469ff93dc6b64d2b2a8feb94afa8f77c66193.js" crossorigin="anonymous" integrity="sha256-1LpauPYMnfXHM+fTx8Rp/5Pca2TSsqj+uUr6j3fGYZM="></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-395e36e8b50840dbe9f754bd87c5098de66e33f81061d9452420dbdb9ee760f1.js" crossorigin="anonymous" integrity="sha256-OV426LUIQNvp91S9h8UJjeZuM/gQYdlFJCDb257nYPE="></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-f064d14bd8bdbd0247972b404350af141b2daef30ee6570edc003e15d5aea5e2.js" crossorigin="anonymous" integrity="sha256-8GTRS9i9vQJHlytAQ1CvFBstrvMO5lcO3AA+FdWupeI="></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-b4d2c42a58bec8f6d153a702ea9164489c281c29ef63f3631ebb87dfa3562d78.js" crossorigin="anonymous" integrity="sha256-tNLEKli+yPbRU6cC6pFkSJwoHCnvY/NjHruH36NWLXg="></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/government-frontend/application-8dcc6f59d9e1c348825b8ee5bdb71efa2c6a07e13ad6eb00a50b7a9bef20adee.js" crossorigin="anonymous" integrity="sha256-jcxvWdnhw0iCW47lvbce+ixqB+E61usApQt6m+8gre4="></script>
</body>
</html>
