







<!DOCTYPE html>
<html lang="en">
  <head>
    <title>myAccount</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="format-detection" content="telephone=no" />
    
  
	<link href="https://www.ros.ie/myaccount-web/resources/rim/fonts/Fira/fira.css" rel="stylesheet">
    <link href="https://www.ros.ie/myaccount-web/resources/rim/css/vendor.min.css" rel="stylesheet">
    <link href="https://www.ros.ie/myaccount-web/resources/rim/css/app.css" rel="stylesheet">
    <link href="https://www.ros.ie/myaccount-web/resources/rim/css/mygovid.css" rel="stylesheet">
    
    <script src="https://www.ros.ie/myaccount-web/resources/rim/js/vendor.min.js"></script>
	<script src="https://www.ros.ie/myaccount-web/resources/rim/js/jquery.validate.min.js"></script>
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->	
    <!--[if lt IE 9]>
	    <script src="https://www.ros.ie/myaccount-web/resources/rim/js/html5shiv.min.js"></script>
	    <script src="https://www.ros.ie/myaccount-web/resources/rim/js/respond.min.js"></script>
	    <![endif]-->
    
     <!--[if (gte IE 6)&(lte IE 8)]>
    	 <script src="https://www.ros.ie/myaccount-web/resources/rim/js/selectivizr.js"></script>
     <![endif]-->
  </head>
  <body>
  	<a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>
    
    
    
    
    
    
    





    <nav class="navbar navbar-revenue">
      <div class="container">
        <div class="col-sm-12">
          <div class="navbar-headers">
            <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            <div class="navbar-brand navbar-brand-revenue-access"><a href="http://www.revenue.ie/en/index.html" target="blank"><img src="https://www.ros.ie/myaccount-web/resources/rim/img/revenue.png" alt="myAccount"></a></div>
            
            
				
				
					<a href="home.html" class="navbar-brand outline-accesibility-tab-img-black"><img src="https://www.ros.ie/myaccount-web/resources/rim/img/myaccount_green@2x.png" alt="myAccount"></a>
				
			
          </div>
            
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            <li>  		  
				
			  		
			  			
							
							
								<a href="https://www.ros.ie/myaccount-web/register.html?execution=e1s1&lang=ga" class="gaeilge">Gaeilge</a>
							
					  	
			  		
			  		
				  
			</li>	  
              
              
              
              	<li><a href="sign_in.html" class="btn-secondary">Sign In</a></li>
              
            </ul>
          </div>
          
        </div>
      </div>
    </nav>
    




    <div id="content">
      <!-- Header end-->
      <!-- Content start-->
      <div class="progress--section1">
        <div class="container">
          <div class="progressText"></div>
        </div>
      </div>
         <div class="row progress--section-2">
        <div class="col-sm-2 col-sm-offset-2">
          <p class="step-show"><strong>Step 1 : <br></strong> Complete the registration form</p>
        </div>
        <div class="col-sm-3 col-sm-offset-1">
          <p class="step-hide"><strong>Step 2 : <br></strong><span>Enter your temporary password</span></p>
        </div>
        <div class="col-sm-2">
          <p class="step-hide"><strong>Step 3 : <br></strong><span> Create a new password</span></p>
        </div>
        <div class="tube-step"><img src="https://www.ros.ie/myaccount-web/resources/rim/img/tube_step1.png"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-1 register-info-group">
            <h1>What do I need to register?</h1>
            <h2><span class="yellow-circle">1</span>PPS number </h2>
			<h2><span class="yellow-circle">2</span>Date of Birth</h2>
            <h2><span class="yellow-circle">3</span>Mobile number or landline number</h2>
            <h2><span class="yellow-circle">4</span>Email address</h2>
            <h2><span class="yellow-circle">5</span>Home address</h2>
            <h2 class="green">To get instant access, verify your<br>identity with 2 of the following:</h2>
            <ul>
              <li><span>Irish driving licence number</span></li>
              <li><span>Information from your P60</span></li>
              <li><span>Information from your Income Tax<br> notice of assessment or acknowledgement<br> of self assessment</span></li>
            </ul>
             <ul class="firsttime">
            	<li><p><strong>If you cannot get instant access, <br>a password will issue to you <br>by post following successful <br>registration.</strong></p></li>
            </ul>
            <h2 class="green">Is this your first ever contact<br> with Revenue?</h2>
            <ul class="firsttime">
            	<li><p>Instant access will not be available to<br> you at this time. Your password will be<br> sent to you by post following successful<br> registration.</p></li>
            </ul>
            
            
            
	            <h2 class="green">Do you have a verified MyGovID account?</h2>
	            <ul class="firsttime">
	            	<li><p>If so, you can sign in to myAccount using your MyGovID details</p></li>
	            </ul>
            
          </div>
          <div class="col-sm-3 who-can-register">
            <h2 class="who">Who can register?</h2>
            <ul>
              <li><span><img src="https://www.ros.ie/myaccount-web/resources/rim/img/pw_strong.png" alt="Tick"></span><span>PAYE taxpayers </span></li>
              <li><span><img src="https://www.ros.ie/myaccount-web/resources/rim/img/pw_strong.png" alt="Tick"></span><span>LPT taxpayers</span></li>
              <li><span><img src="https://www.ros.ie/myaccount-web/resources/rim/img/pw_strong.png" alt="Tick"></span><span>Business customers, including <br>those who have an active<br> digital certificate for ROS </span></li>
              <li><span><img src="https://www.ros.ie/myaccount-web/resources/rim/img/pw_strong.png" alt="Tick"></span><span>New taxpayers </span></li>
            </ul>
            
            <div class="register-info-cta">
		  		<a href="https://www.ros.ie/myaccount-web/register.html?execution=e1s1&amp;_eventId=next" class="btn btn-primary btn-next">Start Registration<span aria-hidden="true" class="icon icon-next"></span></a>
		 		 <!-- MyGovID -->
            	
	            	<div class="help-block register-help-block">Or</div>
	            	<div class="spacer-sm"></div>
	            	<button class="mygov mygov-primary mygov-md" onclick="location.href='mygovid_auth';" value="Continue with MyGovID">
						Continue with MyGovID <img src="https://www.ros.ie/myaccount-web/resources/rim/img/mygovid_icon.svg"></button>
	            	
					  
	
	            	<div class="spacer-sm"></div>
	                <a href="https://www.mygovid.ie/" class="underline" target="_blank">What is MyGovID?</a>
            	
           	</div>
          </div>

        </div>

      </div>
      <!-- Content end-->
      <!-- Footer start-->
      </div>
    





  <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <ul class="footer-nav">
              <li><a href="http://www.revenue.ie/en/online/myaccount/helptext.html" target="_blank" 
				title="This link opens the myAccount help in a new window"> 
				myAccount Help</a>
              	<span class="circle2">●</span>
              </li>
               <li><a href="http://www.revenue.ie/en/online/myaccount/security.html" target="_blank" 
				title="This link opens the Security Statement in a new window"> 
				Security</a>
				<span class="circle2">●</span>
			  </li>
              <li><a href="http://www.revenue.ie/en/online/myaccount/privacy.html" target="_blank" 
				title="This link opens the privacy policy in a new window"> 
				Privacy</a>
				<span class="circle2">●</span>
			  </li>
              <li><a href="http://www.revenue.ie/en/online/myaccount/accessibility.html" target="_blank"
				title="This link opens the Accessibilty Statement in a new window">
				Accessibility</a></span>
				<span class="circle2">●</span>
			 </li>
			 <li><a href="http://www.revenue.ie/en/online/myaccount/disclaimer.html" target="_blank"
				title="This link opens the disclaimer in a new window">
				Disclaimer</a></span>
				<span class="circle2">●</span>
			 </li>
            </ul>
            <p>Language: 
           		
			  		
			  			
							
							
								<a href="https://www.ros.ie/myaccount-web/register.html?execution=e1s1&lang=ga" class="gaeilge">Gaeilge</a>
							
					  	
			  		
			  		
			  
           </p>
          </div>
        </div>
      </div>
    </div>
    
   
    <script src="https://www.ros.ie/myaccount-web/resources/rim/js/app.js"></script>
    <script src="https://www.ros.ie/myaccount-web/resources/rim/js/toast.js"></script>
    <!--    Validation disabled, as requested-->
    <!--script src="https://www.ros.ie/resources/rim/js/validation.js"-->
    <!--    I18n - Internationalization resources for English/Gaelic-->
    
		
		
			<script src="https://www.ros.ie/myaccount-web/resources/rim/js/en.js"></script>
		
  	
    <script src="https://www.ros.ie/myaccount-web/resources/rim/js/password_validation.js"></script>
    <script src="https://www.ros.ie/myaccount-web/resources/rim/js/customValidations.js"></script>
    

	
	
	
	
     
	<script type="text/javascript">
     	//remove form inputs leading and trailing spaces
    		$(document).ready(function() {
         $('form').submit(function(){
    	  	      $(this).find('input:text').each(function(){
    	  	            $(this).val($.trim($(this).val()));
    	  	      });
    	  	});
    	    });
    	
	</script>
	    
  </body>
</html>