{% extends "layouts/revenue.html" %}

{% block title %}File an income tax return{% endblock %}

{% block additional_headers %}
<link href="/public/css/location-autocomplete.min.css" rel="stylesheet" type="text/css"/>
<link href="/public/stylesheets/where-do-you-live.css" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
<h1>
  File an Income Tax return
</h1>
<a href="#">&larr; Back</a>

<div id="content">

  <div class="where-do-you-live__content">

    <h2>Where do you live?</h2>
    <div class="country-select autocomplete-wrapper">
      <label for="location-autocomplete">Select the country you are currently living in</label>
      <select id="location-autocomplete">
        <option value="" disabled selected>Pick an option</option>
      </select>

      <button id="next-button" class="button" onclick="nextPage()" type="button">Confirm</button>
      <div class="country-select__error hidden">Please select a country</div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer_scripts %}
<script type="text/javascript" src="/public/javascripts/location-autocomplete.min.js"></script>
<script type="text/javascript">
  //remove form inputs leading and trailing spaces
  $(document).ready(function () {
    $('form').submit(function () {
      $(this).find('input:text').each(function () {
        $(this).val($.trim($(this).val()));
      });
    });

    openregisterLocationPicker({
      defaultValue: '',
      selectElement: document.getElementById('location-autocomplete'),
      url: '/public/javascripts/location-autocomplete-graph.json'
    })

    nextPage = function() {
      var selectedValue = document.getElementById('location-autocomplete').value
      if (selectedValue === "") {
        document.getElementsByClassName('country-select__error')[0].classList.remove('hidden');
      } else if (selectedValue === "United Kingdom") {
        window.location.href = "/gov-ie/how-long-have-you-lived-in-the-uk";
      } else {
        window.location.href = "/404";
      }
    }
  });
</script>
{% endblock %}