<!DOCTYPE html>
<html lang="en-gb">
<head>
  <meta charset="utf-8">
  <title>
    {% block title %}{% endblock %}
  </title>
  <link href="https://www.revenue.ie/SiteElements/css/foundation.min.css?version=752" rel="stylesheet" type="text/css" />
  <link href="https://www.revenue.ie/SiteElements/css/foundation-icons.css?version=754" rel="stylesheet" type="text/css" />
  <link href="https://www.revenue.ie/SiteElements/css/site.css?version=66916" rel="stylesheet" type="text/css" />
  <!--[if IE 9]><link href="https://www.revenue.ie/SiteElements/css/ie9.css?version=22732" rel="stylesheet" type="text/css" />
  <![endif]--><link href="https://www.revenue.ie/SiteElements/css/footnote.css?version=35535" rel="stylesheet" type="text/css" />
  <link href="https://www.revenue.ie/SiteElements/css/hacks.css?version=42732" rel="stylesheet" type="text/css" />
  <link href="https://www.revenue.ie/SiteElements/css/print.css?version=39488" rel="stylesheet" type="text/css" />
  <script  type="text/javascript" src="https://www.revenue.ie/SiteElements/js/jquery.js?version=37258&amp;build=831928"></script>
  <script  type="text/javascript" src="https://www.revenue.ie/SiteElements/js/jquery-ui-1.9.2.custom.js?build=831928"></script>
  <script  type="text/javascript" src="https://www.revenue.ie/SiteElements/js/foundation.min.js?build=831928"></script>
  <script  type="text/javascript" src="https://www.revenue.ie/SiteElements/js/bowser.min.js?build=831928"></script>
  <script  type="text/javascript" src="https://www.revenue.ie/SiteElements/js/app.js?version=66172&amp;build=831928"></script>
  <script  type="text/javascript" src="https://www.revenue.ie/SiteElements/js/outdated-browser.js?version=25982&amp;build=831928"></script>
  <script  type="text/javascript" src="https://www.revenue.ie/SiteElements/js/cookie-banner.js?version=27471&amp;build=831928"></script>
  <script  type="text/javascript" src="https://www.revenue.ie/SiteElements/js/GoogleAnalytics.js?version=42538&amp;build=831928"></script>

  {% block additional_headers %}{% endblock %}
</head>

<body class="revenue">
<div>
  <div class="revenue">

    <noscript>
      <div class="top-alert top-alert--javascript-disabled">
        <div class="row">
          <div class="columns small-12 medium-12 large-12">
            It looks like you have JavaScript disabled. Certain parts of this website may not work without it. Please <a href="http://www.google.ie/search?q=enable+javascript+in+browser">enable JavaScript</a> for the best experience.
          </div>
        </div>
      </div>
    </noscript>

    <div class="row top-alert top-alert--cookie-message no-print" style="display: none">

      <div class="row columns">
        <div class="columns small-10 medium-11 large-11">
          By using this website, you consent to the use of cookies in accordance with our privacy policy. Find out more about
          <a href="/en/online-services/support/data-and-security/privacy/use-of-cookies.aspx">cookies</a>.
        </div>

        <div class="columns small-2 medium-1 large-1">
          <a class="top-alert__close-link" href="#" onclick="acknowledgeCookieMessage();">
            Close
          </a>
        </div>

      </div>

      <script>
        if (shouldShowCookieBanner()) {
          $('.top-alert--cookie-message').show();
        }
      </script>

    </div>

    <div class="row top-alert top-alert--outdated-browser" style="display: none">
      <div class="row columns">
        <div class="columns small-10 medium-11 large-11">
          It looks like the internet browser you are using is out of date. Please <a href="https://browser-update.org/update-browser.html">update your browser</a> for the best experience.
        </div>
        <div class="columns small-2 medium 1 large-1">
          <a class="top-alert__close-link" href="#" onclick="acknowledgeOutdatedBrowserWarning();">
            Close
          </a>
        </div>
      </div>
      <script>
        if (shouldShowOutdatedBrowserWarning()) {
          $('.top-alert--outdated-browser').show();
        }
      </script>
    </div>
    <div class="top-alert top-alert--gaelic-unavailable-for-current-section" style="display: none">

      <div class="row columns">

        <div class="columns small-12 medium-12 large-12">
          <p>Tá an chuid seo den suíomh idirlín ar fáil i mBéarla amháin i láthair na huaire.</p>
          This section of the site is currently only available in English
        </div>

      </div>

    </div>

    <div class="row top-alert top-alert--gaelic-unavailable-for-some-pages-on-site" style="display: none">

      <div class="row columns">

        <div class="columns small-10 medium-11 large-11">
          <p>Tabhair do d’aire go bhfuil roinnt codanna den suíomh idirlín ar fáil i mBéarla amháin. Tá siad á n-aistriú go Gaeilge agus beidh siad ar fáil roimh dheireadh 2017.</p>
          Please note that some sections of the site are currently only available in English. They are currently being translated into Irish and will be available before the end of 2017.
        </div>

        <div class="columns small-2 medium-1 large-1">
          <a class="top-alert__close-link" href="#">
            Dún
          </a>
        </div>

      </div>

    </div>
    <script>
      $(document).ready(
          function()
          {
            $( "table" ).wrap( "<div class='table-scroll'></div>");
            var lastchild = $('.revenue .breadcrumb .row div span:last-child').text();
            if (lastchild != "") $('.revenue .breadcrumb .row div span:last-child').remove();

            var pattern  = RegExp("/[^/]+(?=/$|$)");
            var pattern2 = RegExp("[^/]+(?=/$|$)");
            var numeric4digit =  RegExp("[0-9][0-9][0-9][0-9]");
            var newpath = window.location.href.replace(pattern, "");
            var year = newpath.match(pattern2)[0];
            if (!isNaN(parseFloat(year)) && isFinite(year) && year.length == 4)
            {
              var lnk = $('.revenue .breadcrumb .row div a:last').attr("href") + "?year=" + year;
              $('.revenue .breadcrumb .row div a:last').attr("href", lnk);
            }
          }
      );
    </script>

    <div id="top-bar">

      <div class="row columns show-for-small-only">
        <div class="SignIn--small changeLang--small float-left">
          <a class="changeLang" class="links nopadding" href="#">Gaeilge</a>
        </div>
        <div class="SignIn--small float-right">
          <a class="links nopadding" href="https://www.ros.ie/myaccount-web/sign_in.html">myAccount</a> <span class="pipe">|</span> <a class="links nopadding" href="https://www.ros.ie/rcw/login/login">ROS</a>
        </div>
      </div>

      <div class="row">

        <div class="small-6 medium-5 large-7 columns logo">
          <a class="revenueLogo float-left" title="Home" href="/en/Home.aspx">
            <img alt="revenue-Logo" height="209" width="437" src="https://www.revenue.ie/SiteElements/Images/revenue-Logo.png" />
          </a>
        </div>

        <div class="small-6 medium-7 large-5 columns search">
          <div class="row">

            <div class="SignIn hide-for-small-only">
              Sign in to <a class="links nopadding" href="https://www.ros.ie/myaccount-web/sign_in.html">myAccount</a> or <a class="links nopadding" href="https://www.ros.ie/rcw/login/login">ROS</a><span class="pipe">|</span>
              <a class="changeLang" class="links nopadding" href="#">Gaeilge</a>
            </div>
            <span class="float-right vertical-bar"><span class="float-right vertical-bar"></span></span>
            <div class="small-collapse">
              <div class="columns">
                <div class="input-group">
                  <input name="searchInput" id="searchInput" aria-label="Search" placeholder="Search" type="text" class="input-group-field" rev-max-chars="140"/>
                  <div class="input-group-button">
                    <button id="btnSearch" class="button icon-button" type="button">
                      <img alt="Please click search" src="https://www.revenue.ie/SiteElements/images/svg/search.svg" />
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <input type="hidden" id="prefLang" value="English" data-idlang="0" />

          </div>
        </div>
      </div>

      <script>
        var path;

        (function() {

          RevenueJs.PreferredLanguage = "English";

          path = 'https://www.revenue.ie/en/online-services/services/common/file-an-income-tax-return.aspx';

        })();
      </script>

      <script>
        (function () {
          RevenueJs.Localisation.ShowMore =  htmlDecode("Show more");
          RevenueJs.Localisation.ShowLess =  htmlDecode("Show less");
          RevenueJs.Localisation.BackToTextFootnoteLink =  htmlDecode("Back to text");
          RevenueJs.Localisation.PrintAllPagesIn =  htmlDecode("Print all pages in");
          function htmlDecode(input){
            if (input == "") return "";
            var e = document.createElement('div');
            e.innerHTML = input;
            return e.childNodes[0].nodeValue;
          }

        })();
      </script>
    </div>
    <div class="breadcrumb">
      <div class="row">
        <div>
          <a title="Go to Home from here" class="sys_0 sys_t108" href="/en/Home.aspx">Home</a> <span class="separator">&nbsp;</span> <a title="Go to Online Services from here" class="sys_0 sys_t17292" href="/en/online-services/index.aspx">Online Services</a> <span class="separator">&nbsp;</span>
        </div>
      </div>
    </div>

{% block content %}{% endblock %}

    <div class="footer-navigation">
      <div class="row">

        <a href="/en/Home.aspx">Back to homepage</a>

        <a class="back-to-top" href="#">Back to top</a>

      </div>
    </div>

    <div class="footer">
      <div class="row">
        <div class="medium-6 large-8 columns">
          <div class="large-6 columns">
            <ul>
              <li>
                Information about Revenue
              </li>
              <li><a  title="Role of Revenue" href="/en/corporate/information-about-revenue/role-of-revenue/index.aspx">Role of Revenue</a></li>
              <li><a  title="Customer service commitments" href="/en/corporate/information-about-revenue/customer-service/index.aspx">Customer service commitments</a></li>
              <li><a  title="Press office" href="/en/corporate/press-office/index.aspx">Press office</a></li>
              <li><a  title="Governance" href="/en/corporate/information-about-revenue/governance/index.aspx">Governance</a></li>
              <li><a  title="Appeals" href="/en/corporate/information-about-revenue/appeals/index.aspx">Appeals</a></li>
              <li><a  title="Statistics on income, tax and duties" href="/en/corporate/information-about-revenue/statistics/index.aspx">Statistics on income, tax and duties</a></li>
              <li><a  title="Research" href="/en/corporate/information-about-revenue/research/index.aspx">Research</a></li>
              <li><a  title="Careers" href="/en/corporate/information-about-revenue/careers/index.aspx">Careers</a></li>
              <li><a  title="Revenue Museum" href="/en/corporate/information-about-revenue/revenue-museum/index.aspx">Revenue Museum</a></li>

            </ul>
            <ul>
              <li>
                Using revenue.ie
              </li>
              <li><a  title="Accessibility statement" href="/en/online-services/support/technical-requirements/accessibility-statement/index.aspx">Accessibility statement</a></li>
              <li><a  title="Security" href="/en/online-services/support/data-and-security/security/index.aspx">Security</a></li>
              <li><a  title="Privacy" href="/en/online-services/support/data-and-security/privacy/index.aspx">Privacy</a></li>
              <li><a  title="Disclaimer" href="/en/online-services/support/data-and-security/disclaimer/index.aspx">Disclaimer</a></li>
              <li><a  title="Re-use of public sector information" href="/en/corporate/using-revenue/reuse-of-public-sector-information/index.aspx">Re-use of public sector information</a></li>
            </ul>
          </div>
          <div class="large-6 columns">
            <ul>
              <li>
                Statutory obligations
              </li>
              <li><a  title="Freedom of Information" href="/en/corporate/statutory-obligations/freedom-of-information/index.aspx">Freedom of Information</a></li>
              <li><a  title="Data protection" href="/en/corporate/statutory-obligations/data-protection/index.aspx">Data protection</a></li>
              <li><a  title="Protected disclosures" href="/en/corporate/statutory-obligations/protected-disclosures/index.aspx">Protected disclosures</a></li>
              <li><a  title="Procurement" href="/en/corporate/statutory-obligations/procurement/index.aspx">Procurement</a></li>
              <li><a  title="Regulation of Lobbying Act" href="/en/corporate/statutory-obligations/regulation-of-lobbying-act/index.aspx">Regulation of Lobbying Act</a></li>
              <li><a  title="Official Languages Act" href="/en/corporate/statutory-obligations/official-languages-act/index.aspx">Official Languages Act</a></li>

            </ul>
            <ul>
              <li>
                Assist us
              </li>
              <li><a  title="Reporting shadow economy activity (tax evasion)" href="/en/corporate/assist-us/reporting-shadow-economy-activity/index.aspx">Reporting shadow economy activity (tax evasion)</a></li>
              <li><a  title="Drug and tobacco smuggling" href="/en/corporate/assist-us/drug-and-tobacco-smuggling/index.aspx">Drug and tobacco smuggling</a></li>

            </ul>
            <ul>
              <li>
                Consultations and submissions
              </li>
              <li><a   title="PAYE Modernisation Project" href="/en/corporate/consultations-and-submissions/paye-modernisation/index.aspx">PAYE Modernisation Project</a></li>
              <li><a   title="Submission to Tax Appeals Commission public consultation" href="/en/corporate/consultations-and-submissions/tax-appeals-commission/index.aspx">Submission to Tax Appeals Commission public consultation</a></li>
            </ul>
          </div>
        </div>
        <div class="medium-6 large-4 columns">
          <ul>
            <li>
              Communications
            </li>
            <li><a    title="Contact us" href="/en/contact-us/index.aspx">Contact us</a></li>
            <li><a    title="Twitter" href="/en/corporate/communications/twitter/index.aspx">Twitter</a></li>
            <li><a    title="Fraudulent emails and SMS (text messages)" href="/en/corporate/communications/fraudulent-emails/index.aspx">Fraudulent emails and SMS (text messages)</a></li>
            <li><a  class=external-links-white  title="Website feedback" href="https://revenue.eu.qualtrics.com/jfe/form/SV_3EpTMqX6iaPuoYJ">Website feedback</a></li>
          </ul>
          <ul>
            <li>
              External Links
            </li>
            <li><a  class=external-links-white  title="whodoeswhat.ie" href="http://www.whodoeswhat.gov.ie/">whodoeswhat.ie</a></li>
            <li><a  class=external-links-white  title="gov.ie" href="http://www.gov.ie/">gov.ie</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script  type="text/javascript" src="https://www.revenue.ie/SiteElements/js/footnote.js?version=40758&amp;build=831928"></script>
  <script  type="text/javascript" src="https://www.revenue.ie/SiteElements/Js/CollapseFilterAndContentPages.js?version=40695&amp;build=831928"></script>
  <script  type="text/javascript" src="https://www.revenue.ie/SiteElements/js/QualtricsInterceptors/FeedbackSinglePage.js?version=42144&amp;build=831928"></script>
  <script  type="text/javascript" src="https://www.revenue.ie/SiteElements/js/HandleSearchInputForMobile.js?version=42501&amp;build=831928"></script>
  <script  type="text/javascript" src="https://www.revenue.ie/SiteElements/js/DocumentsListColapseOlderVersions.js?version=47439&amp;build=831928"></script>
  <script  type="text/javascript" src="https://www.revenue.ie/SiteElements/js/Autocomplete.js?version=74307&amp;build=831928"></script>
  <script  type="text/javascript" src="https://www.revenue.ie/SiteElements/js/lang-preference.js?version=48328&amp;build=831928"></script>
  <script  type="text/javascript" src="https://www.revenue.ie/SiteElements/js/google-analytics-doc-download.js?version=44283&amp;build=831928"></script>
  <script  type="text/javascript" src="https://www.revenue.ie/SiteElements/js/google-analytics-outward-link-click.js?version=44244&amp;build=831928"></script>
  <script  type="text/javascript" src="https://www.revenue.ie/SiteElements/js/localise-survey-link.js?version=43011&amp;build=831928"></script>
  {% block footer_scripts %}{% endblock %}
</div>
</body>
</html>