<!DOCTYPE html>
<html lang="en-gb">
<head>
  <meta charset="utf-8">
  <title>
    {% block title %}{% endblock %}
  </title>
  <link href="/SiteElements/css/foundation.min.css" rel="stylesheet" type="text/css"/>
  <link href="/SiteElements/css/foundation-icons.css" rel="stylesheet"
        type="text/css"/>
  <link href="/SiteElements/css/site.css" rel="stylesheet" type="text/css"/>
  <!--[if IE 9]>
  <link href="/SiteElements/css/ie9.css" rel="stylesheet" type="text/css"/>
  <![endif]-->
  <link href="/SiteElements/css/footnote.css" rel="stylesheet" type="text/css"/>
  <link href="/SiteElements/css/hacks.css" rel="stylesheet" type="text/css"/>
  <link href="/SiteElements/css/print.css" rel="stylesheet" type="text/css"/>


  <script type="text/javascript"
          src="https://www.revenue.ie/SiteElements/js/jquery.js?version=37258&amp;build=831928"></script>
  <script type="text/javascript"
          src="https://www.revenue.ie/SiteElements/js/jquery-ui-1.9.2.custom.js?build=831928"></script>
  <script type="text/javascript" src="https://www.revenue.ie/SiteElements/js/foundation.min.js?build=831928"></script>
  <script type="text/javascript" src="https://www.revenue.ie/SiteElements/js/bowser.min.js?build=831928"></script>
  <script type="text/javascript"
          src="https://www.revenue.ie/SiteElements/js/app.js?version=66172&amp;build=831928"></script>
  <script type="text/javascript"
          src="https://www.revenue.ie/SiteElements/js/outdated-browser.js?version=25982&amp;build=831928"></script>
  <script type="text/javascript"
          src="https://www.revenue.ie/SiteElements/js/cookie-banner.js?version=27471&amp;build=831928"></script>
  <script type="text/javascript"
          src="https://www.revenue.ie/SiteElements/js/GoogleAnalytics.js?version=42538&amp;build=831928"></script>

  {% block additional_headers %}{% endblock %}
</head>

<body class="revenue">
<div>
  <div class="revenue">

    <noscript>
      <div class="top-alert top-alert--javascript-disabled">
        <div class="row">
          <div class="columns small-12 medium-12 large-12">
            It looks like you have JavaScript disabled. Certain parts of this website may not work without it. Please <a href="/404.html">enable JavaScript</a> for the best experience.
          </div>
        </div>
      </div>
    </noscript>

    <div class="row top-alert top-alert--cookie-message no-print" style="display: none">

      <div class="row columns">
        <div class="columns small-10 medium-11 large-11">
          By using this website, you consent to the use of cookies in accordance with our privacy policy. Find out more about
          <a href="/404.html">cookies</a>.
        </div>

        <div class="columns small-2 medium-1 large-1">
          <a class="top-alert__close-link" href="#" onclick="acknowledgeCookieMessage();">
            Close
          </a>
        </div>

      </div>

      <script>
        if (shouldShowCookieBanner()) {
          $('.top-alert--cookie-message').show();
        }
      </script>

    </div>

    <div class="row top-alert top-alert--outdated-browser" style="display: none">
      <div class="row columns">
        <div class="columns small-10 medium-11 large-11">
          It looks like the internet browser you are using is out of date. Please <a href="/404.html">update your browser</a> for the best experience.
        </div>
        <div class="columns small-2 medium 1 large-1">
          <a class="top-alert__close-link" href="#" onclick="acknowledgeOutdatedBrowserWarning();">
            Close
          </a>
        </div>
      </div>
      <script>
        if (shouldShowOutdatedBrowserWarning()) {
          $('.top-alert--outdated-browser').show();
        }
      </script>
    </div>
    <div class="top-alert top-alert--gaelic-unavailable-for-current-section" style="display: none">

      <div class="row columns">

        <div class="columns small-12 medium-12 large-12">
          <p>Tá an chuid seo den suíomh idirlín ar fáil i mBéarla amháin i láthair na huaire.</p>
          This section of the site is currently only available in English
        </div>

      </div>

    </div>

    <div class="row top-alert top-alert--gaelic-unavailable-for-some-pages-on-site" style="display: none">

      <div class="row columns">

        <div class="columns small-10 medium-11 large-11">
          <p>Tabhair do d’aire go bhfuil roinnt codanna den suíomh idirlín ar fáil i mBéarla amháin. Tá siad á n-aistriú
            go Gaeilge agus beidh siad ar fáil roimh dheireadh 2017.</p>
          Please note that some sections of the site are currently only available in English. They are currently being
          translated into Irish and will be available before the end of 2017.
        </div>

        <div class="columns small-2 medium-1 large-1">
          <a class="top-alert__close-link" href="#">
            Dún
          </a>
        </div>

      </div>

    </div>
    <script>
      $(document).ready(
          function () {
            $("table").wrap("<div class='table-scroll'></div>");
            var lastchild = $('.revenue .breadcrumb .row div span:last-child').text();
            if (lastchild != "") $('.revenue .breadcrumb .row div span:last-child').remove();

            var pattern = RegExp("/[^/]+(?=/$|$)");
            var pattern2 = RegExp("[^/]+(?=/$|$)");
            var numeric4digit = RegExp("[0-9][0-9][0-9][0-9]");
            var newpath = window.location.href.replace(pattern, "");
            var year = newpath.match(pattern2)[0];
            if (!isNaN(parseFloat(year)) && isFinite(year) && year.length == 4) {
              var lnk = $('.revenue .breadcrumb .row div a:last').attr("href") + "?year=" + year;
              $('.revenue .breadcrumb .row div a:last').attr("href", lnk);
            }
          }
      );
    </script>

    <div id="top-bar">

      <div class="row columns show-for-small-only">
        <div class="SignIn--small changeLang--small float-left">
          <a class="changeLang" class="links nopadding" href="#">Gaeilge</a>
        </div>
        <div class="SignIn--small float-right">
          <a class="links nopadding" href="/404.html">myAccount</a> <span class="pipe">|</span> <a class="links nopadding" href="/404.html">ROS</a>
        </div>
      </div>

      <div class="row">

        <div class="small-6 medium-5 large-7 columns logo">
          <a class="revenueLogo float-left" title="Home" href="/404.html">
            <img alt="revenue-Logo" height="209" width="437" src="https://www.revenue.ie/SiteElements/Images/revenue-Logo.png" />
          </a>
        </div>

        <div class="small-6 medium-7 large-5 columns search">
          <div class="row">

            <div class="SignIn hide-for-small-only">
              Sign in to <a class="links nopadding" href="/404.html">myAccount</a> or <a class="links nopadding" href="/404.html">ROS</a><span class="pipe">|</span>
              <a class="changeLang" class="links nopadding" href="#">Gaeilge</a>
            </div>
            <span class="float-right vertical-bar"><span class="float-right vertical-bar"></span></span>
            <div class="small-collapse">
              <div class="columns">
                <div class="input-group">
                  <input name="searchInput" id="searchInput" aria-label="Search" placeholder="Search" type="text"
                         class="input-group-field" rev-max-chars="140"/>
                  <div class="input-group-button">
                    <button id="btnSearch" class="button icon-button" type="button">
                      <img alt="Please click search" src="https://www.revenue.ie/SiteElements/images/svg/search.svg"/>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <input type="hidden" id="prefLang" value="English" data-idlang="0"/>

          </div>
        </div>
      </div>

      <script>
        var path;

        (function () {

          RevenueJs.PreferredLanguage = "English";

          path = 'https://www.revenue.ie/en/online-services/services/common/file-an-income-tax-return.aspx';

        })();
      </script>

      <script>
        (function () {
          RevenueJs.Localisation.ShowMore = htmlDecode("Show more");
          RevenueJs.Localisation.ShowLess = htmlDecode("Show less");
          RevenueJs.Localisation.BackToTextFootnoteLink = htmlDecode("Back to text");
          RevenueJs.Localisation.PrintAllPagesIn = htmlDecode("Print all pages in");
          function htmlDecode(input) {
            if (input == "") return "";
            var e = document.createElement('div');
            e.innerHTML = input;
            return e.childNodes[0].nodeValue;
          }

        })();
      </script>
    </div>
    <div class="breadcrumb">
      <div class="row">
        <div>
          <a title="Go to Home from here" class="sys_0 sys_t108" href="/404.html">Home</a> <span class="separator">&nbsp;</span> <a title="Go to Online Services from here" class="sys_0 sys_t17292" href="/404.html">Online Services</a> <span class="separator">&nbsp;</span>
        </div>
      </div>
    </div>
    <div class="hub-destination-pages">
      <div class="content row">

        <div class="large-7 columns">
          {% block content %}{% endblock %}
          <div class="bottom-links row">
          <p>
            <em>Published: 07 June 2017</em>

            <a class="print" href="javascript:window.print()">Print this page</a>
          </p>
        </div>
        </div>
      </div>
    </div>
    <div class="footer-navigation">
      <div class="row">

        <a href="/404.html">Back to homepage</a>

        <a class="back-to-top" href="#">Back to top</a>

      </div>
    </div>

    <div class="footer">
      <div class="row">
        <div class="medium-6 large-8 columns">
          <div class="large-6 columns">
            <ul>
              <li>
                Information about Revenue
              </li>
              <li><a  title="Role of Revenue" href="/404.html">Role of Revenue</a></li>
              <li><a  title="Customer service commitments" href="/404.html">Customer service commitments</a></li>
              <li><a  title="Press office" href="/404.html">Press office</a></li>
              <li><a  title="Governance" href="/404.html">Governance</a></li>
              <li><a  title="Appeals" href="/404.html">Appeals</a></li>
              <li><a  title="Statistics on income, tax and duties" href="/404.html">Statistics on income, tax and duties</a></li>
              <li><a  title="Research" href="/404.html">Research</a></li>
              <li><a  title="Careers" href="/404.html">Careers</a></li>
              <li><a  title="Revenue Museum" href="/404.html">Revenue Museum</a></li>
            </ul>
            <ul>
              <li>
                Using revenue.ie
              </li>
              <li><a  title="Accessibility statement" href="/404.html">Accessibility statement</a></li>
              <li><a  title="Security" href="/404.html">Security</a></li>
              <li><a  title="Privacy" href="/404.html">Privacy</a></li>
              <li><a  title="Disclaimer" href="/404.html">Disclaimer</a></li>
              <li><a  title="Re-use of public sector information" href="/404.html">Re-use of public sector information</a></li>
            </ul>
          </div>
          <div class="large-6 columns">
            <ul>
              <li>
                Statutory obligations
              </li>
              <li><a  title="Freedom of Information" href="/404.html">Freedom of Information</a></li>
              <li><a  title="Data protection" href="/404.html">Data protection</a></li>
              <li><a  title="Protected disclosures" href="/404.html">Protected disclosures</a></li>
              <li><a  title="Procurement" href="/404.html">Procurement</a></li>
              <li><a  title="Regulation of Lobbying Act" href="/404.html">Regulation of Lobbying Act</a></li>
              <li><a  title="Official Languages Act" href="/404.html">Official Languages Act</a></li>

            </ul>
            <ul>
              <li>
                Assist us
              </li>
              <li><a  title="Reporting shadow economy activity (tax evasion)" href="/404.html">Reporting shadow economy activity (tax evasion)</a></li>
              <li><a  title="Drug and tobacco smuggling" href="/404.html">Drug and tobacco smuggling</a></li>
            </ul>
            <ul>
              <li>
                Consultations and submissions
              </li>
              <li><a   title="PAYE Modernisation Project" href="/404.html">PAYE Modernisation Project</a></li>
              <li><a   title="Submission to Tax Appeals Commission public consultation" href="/404.html">Submission to Tax Appeals Commission public consultation</a></li>
            </ul>
          </div>
        </div>
        <div class="medium-6 large-4 columns">
          <ul>
            <li>
              Communications
            </li>
            <li><a    title="Contact us" href="/404.html">Contact us</a></li>
            <li><a    title="Twitter" href="/404.html">Twitter</a></li>
            <li><a    title="Fraudulent emails and SMS (text messages)" href="/404.html">Fraudulent emails and SMS (text messages)</a></li>
            <li><a  class=external-links-white  title="Website feedback" href="/404.html">Website feedback</a></li>
          </ul>
          <ul>
            <li>
              External Links
            </li>
            <li><a  class=external-links-white  title="whodoeswhat.ie" href="/404.html">whodoeswhat.ie</a></li>
            <li><a  class=external-links-white  title="gov.ie" href="/404.html">gov.ie</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript"
          src="https://www.revenue.ie/SiteElements/js/footnote.js?version=40758&amp;build=831928"></script>
  <script type="text/javascript"
          src="https://www.revenue.ie/SiteElements/Js/CollapseFilterAndContentPages.js?version=40695&amp;build=831928"></script>
  <script type="text/javascript"
          src="https://www.revenue.ie/SiteElements/js/QualtricsInterceptors/FeedbackSinglePage.js?version=42144&amp;build=831928"></script>
  <script type="text/javascript"
          src="https://www.revenue.ie/SiteElements/js/HandleSearchInputForMobile.js?version=42501&amp;build=831928"></script>
  <script type="text/javascript"
          src="https://www.revenue.ie/SiteElements/js/DocumentsListColapseOlderVersions.js?version=47439&amp;build=831928"></script>
  <script type="text/javascript"
          src="https://www.revenue.ie/SiteElements/js/Autocomplete.js?version=74307&amp;build=831928"></script>
  <script type="text/javascript"
          src="https://www.revenue.ie/SiteElements/js/lang-preference.js?version=48328&amp;build=831928"></script>
  <script type="text/javascript"
          src="https://www.revenue.ie/SiteElements/js/google-analytics-doc-download.js?version=44283&amp;build=831928"></script>
  <script type="text/javascript"
          src="https://www.revenue.ie/SiteElements/js/google-analytics-outward-link-click.js?version=44244&amp;build=831928"></script>
  <script type="text/javascript"
          src="https://www.revenue.ie/SiteElements/js/localise-survey-link.js?version=43011&amp;build=831928"></script>
  {% block footer_scripts %}{% endblock %}
</div>
</body>
</html>